bin/*
!bin/busybox.exe
client/electron1/node_modules/*
!client/electron1/node_modules/blank.txt
client/electron2_80/node_modules/*
!client/electron2_80/node_modules/blank.txt
doc/private/*
node-v16.20.2-win-x86/*
!node-v16.20.2-win-x86/blank.txt
node-v24.18.0-win-x64/*
!node-v24.18.0-win-x64/blank.txt
server/logs/*
!server/logs/blank.txt
server/node_modules/*
!server/node_modules/blank.txt
server_port80/logs/*
!server_port80/logs/blank.txt
server_port80/node_modules/*
!server_port80/node_modules/blank.txt
